<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@200&family=Roboto:wght@300&display=swap" rel="stylesheet">    <link rel="stylesheet" href="/css/style.css">
    <title>John Vasil, Software Develope</title>
</head>
<body>
    <header>John Vasil, Software Deveoloper</header>
    <section class = 'bio'>
       <img class = 'bio headshot' src="/img/johnnyHeadshot.JPG" alt="john vasil headshot">
       <div class = 'bio bio_d'>
        <h1 class = 'bio bio_t'>About Me</h1>
        <p class = 'bio bio_p'>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora error repellendus eligendi aspernatur ab quidem, repellat veniam iste harum aliquam facere dolorem voluptas inventore dolore? Id quia facere dolore blanditiis?</p>
        </div>
      </section>
    <section class = 'projects'>
        <h1 class = 'projects projects_t'>Projects</h1>
        <div class = 'projects project-1'>
            <h3>Project 1!</h3>
            <p>Here is me explaining the first project</p>
            <img src="/img/project1.jpg" alt="thumbnail for project 1">
        </div>
        <div class = 'projects project-2'>
            <p>Here is me explaing project 2</p>
            <img src="/img/project2.jpg" alt="thumbnail for project 2">
        </div>
        <div class = 'projects project-3'>
            <p>Here is me explaing project 3</p>
            <img src="/img/project3.jpg" alt="thumbnail for prject 3">
        </div>
        
    </section>
    <section class = 'resume'>
        <h1 class = 'resume'>Resume and Professional Links</h1>
        <div class = 'resume resumeDiv'>
            <img src="/img/resume.jpg" alt="picture of resume">
        </div>
    </section>
<footer></footer>
<script src ="/main.js" ></script>    
</body>
</html>>