/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html{
     font-size: 20px;
     height: 100%;
}

body{
     margin: 0;
     height: 100%;
     width: 100%;
     font-family: 'Roboto', sans-serif;
     
}



/******************************************
/* LAYOUT
/*******************************************/
header{
     display: flex;
     justify-content: center;
     font-size: 2rem;
     
}
.headshot{
     justify-self: flex-start;
     align-self: flex-start;
     height: 33%;
     width: 33%;
    
}


.bio{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: flex-start;
     background-color: bisque;
    

}
.bio_d{
     display: flex;
     flex-direction: column;
}


.bio_p{
     width: 50%;
     height: 50%;
}
.projects{
     font-family: 'Oswald', sans-serif;
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     background-color: beige;
}
.resume{
     font-family: 'Open Sans', sans-serif;
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     background-color: ghostwhite;
     height: 100%;
}
footer{
     background-color: ghostwhite;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
